@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .container{
    margin:  auto ;
    width: 90%;
  }
  .reg-screen1{
   box-shadow: rgba(0, 0, 0, 0.119) 0px 25px 50px -12px;
   border-radius: 20px;
  }
  .login-screen{
   box-shadow: rgba(0, 0, 0, 0.119) 0px 25px 50px -12px;
   border-radius: 20px;
  }
  .a-screen1-rej{
    background-color: white;
  }
  .a-screen1-rej:hover{
    transition: 0.6s;
  }
  .reg-card-screen2{
    box-shadow: rgba(0, 0, 0, 0.119) 0px 25px 50px -12px;
    border-radius: 20px;
  }
  .bg-login{
    background-image: url(/src\assets\AuthAssets\login.png);
    background-size: cover;
    background-position: center ;
    width: 100%;
  }
}

body {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
  background-color: #F7F7FA;
}
:root {
  /* colors */
  --main-color: #126090;
  --btn-text-color: #fff;
}
